body {
	
	background: url('../images/bg.png');
}

.n-current-login {
	
	padding: 5px 15px 10px 15px;
	color: white;
	font-size: 14px;
}

.n-menu-header {
	
	background: #292929;
	padding: 15px;
	color: white;
	font-size: 14px;
}

.n-menu-header:before {
	
	content: "::";
}

.n-menu-header:after {
	
	content: "::";
}

.n-menu-panel {

	background: #333;
	border-radius: 0px;
	overflow: auto;

	-webkit-overflow-scrolling: touch;
}

.n-menu-panel .n-common {
	
	height: 170px;
}

.n-menu-panel .n-items {
	
	position: absolute;
	top: 185px;
	bottom: 0px;
	width: 100%;
	overflow: auto;

	-webkit-overflow-scrolling: touch;
}

.n-menu-panel ul li a > i {

	display: inline-block;
	width: 50px;
}

.n-view-host {

	position: relative;
	height: 100%;
	width: 100%;
}

.n-view-host > .n-title {
	
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 50px;
	
	font-size: 30px;
	padding: 15px 15px 0 15px;
	line-height: 30px;
	border-bottom: 1px solid #ccc;
	background: #efefef;
}

.n-view-host .n-body {

	position: absolute;
	top: 66px;
	left: 0px;
	right: 0px;
	bottom: 0px;

	border-top: 1px solid #fafafa;
	
	overflow-x: hidden;
}

.n-view-host .n-body .n-content {
	
	background: url(../images/bg.png);
}

.n-view-host .n-body .n-list {
	
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 50px;
	background: white;
	overflow-y: auto;
	
	border-bottom: 1px solid #ccc;
	-webkit-overflow-scrolling: touch;
}

.n-view-host .n-body .n-list tbody.n-check-activated tr {

	cursor: default;
}

.n-view-host .n-body .n-list tbody:not(.n-check-activated) tr:hover {

	background: #e1f0f7;
	cursor: pointer;
}

.n-view-host .n-body .n-list tbody:not(.n-check-activated) tr.uk-active {
	
	background: #35B3EE;
	color: white;
}

.n-view-host .n-body .n-list tr.uk-active .uk-text-muted {

	color: white !important;
}

.n-view-host .n-body .n-list tr.uk-active input[type=checkbox] {
	
	border-color: white;
}

.n-view-host .n-body .n-list tr.uk-active input[type=checkbox]:checked:before {
	
	color: white;
}

.n-view-host .n-body .n-controller {

	position: absolute;
	
	height: 49px;
	left: 0px;
	right: 0px;
	bottom: 0px;

	border-top: 1px solid #f5f5f5;	
}

.n-view-host .n-body .n-controller > div {
	
	margin: 9px 10px 10px 10px;
}

.n-footer {
	
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 50px;
	
	background: #efefef;
	border-top: 1px solid #fefefe;
	
    -webkit-transition: height 0.3s ease-in-out;
    -moz-transition: height 0.3s ease-in-out;
    -o-transition: height 0.3s ease-in-out;
    transition: height 0.3s ease-in-out;
    
    display: block;
}

.n-footer.ng-hide {

	height: 0px;
	display: block !important;
}

.n-footer.ng-hide-remove .n-commands {
	
	display: block !important;
}

.n-footer.ng-hide-add .n-commands {
	
	display: block !important;
}

.n-footer .n-commands {
	
	margin: 8px 10px 0 0;
}

.n-footer.ng-hide .n-commands {

	display: none !important;
}

.n-footer .n-scroll-for-more {
	
	position: absolute;
	top: -19px;
	width: 100px;
	height: 18px;
	left: 50%;
	
	margin-left: -50px;
	
	text-align: center;
	font-size: 12px;
	font-family: FontAwesome;
	border-radius: 5px 5px 0 0;
	
	background: rgba(0,0,0,0.3);
	color: white;
}

.n-footer .n-scroll-for-more:after {
	
	content: "\f078"
}

.n-table thead th {
	
	background: #feffff;
	background: -moz-linear-gradient(top,  #feffff 0%, #f8f8f8 35%, #efefef 100%);
	background: -webkit-gradient(linear, 
				left top, left bottom, color-stop(0%,#feffff), 
				color-stop(35%,#f8f8f8), color-stop(100%,#efefef));
	background: -webkit-linear-gradient(top,  #feffff 0%,#f8f8f8 35%,#efefef 100%);
	background: -o-linear-gradient(top,  #feffff 0%,#f8f8f8 35%,#efefef 100%);
	background: -ms-linear-gradient(top,  #feffff 0%,#f8f8f8 35%,#efefef 100%);
	background: linear-gradient(to bottom,  #feffff 0%,#f8f8f8 35%,#efefef 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#efefef',GradientType=0 );
	
	border-right: 1px solid #ccc;
	border-left: 1px solid #fdfdfd;
}

.n-table tbody td {
	
	border-right: 1px solid #ccc;
	border-left: 1px solid #fdfdfd;
}

.n-properties-panel {
	
	position: absolute;
	
	top: 0px;
	bottom: 0px;
	
	background: #e5e5e5;
	border-left: 1px solid #ccc;
	box-sizing: border-box;
	
	box-shadow: -10px 2px 50px -25px black !important;
	
    -webkit-transition: right 0.3s ease-in-out;
    -moz-transition: right 0.3s ease-in-out;
    -o-transition: right 0.3s ease-in-out;
    transition: right 0.3s ease-in-out;
    
	right: 0px;
	
	z-index: 100;
}

.n-properties-panel > .n-header {

	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 63px;
	box-sizing: border-box;
	z-index: 1;
	
	padding: 15px;
	background: #e5e5e5;
}

.n-properties-panel > .n-header.n-expanded {

	height: 73px;
}

.n-properties-panel > .n-header.n-drop-shadow {
	
	box-shadow: 0px 10px 50px -25px black;
}

.n-properties-panel > .n-header .n-bottom-border {
	
	position: absolute;
	bottom: 0px;
	left: 15px;
	right: 15px;
	height: 0px;
	
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #efefef;
}

.n-properties-panel .n-header-title {

	margin-top: 5px; 
	overflow: hidden; 
	text-overflow: ellipsis; 
	white-space: nowrap;
}

.n-properties-panel > .n-body {

	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;	
	
	overflow-y: auto;
	
	z-index: 0;
	
	padding: 70px 15px;
	-webkit-overflow-scrolling: touch;
}

.n-properties-panel > .n-body.n-expanded {

	padding: 80px 15px;
}

.n-properties-panel > .n-footer {

	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	height: 40px;
	
	z-index: 1;
	
	padding: 5px 15px;
	background: #e5e5e5;
	
	border-top: none;
}

.n-properties-panel > .n-footer .n-top-border {
	
	position: absolute;
	top: 0px;
	left: 15px;
	right: 15px;
	height: 0px;
	
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #efefef;
}

.n-properties-panel > .n-footer button {
	
	width: 80px;
}

.n-properties-panel.ng-hide-remove {
	
	display: block !important;
}

.n-properties-panel.ng-hide-add {
	
	display: block !important;
}

.n-properties-panel.ng-hide {
	
	right: -70%;
	display: none;
}

.n-properties-panel .n-mask {
	
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	background: #e5e5e5;
	
	z-index: 3;
	
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
    
    pointer-events: none;
}

.n-properties-panel .n-mask.n-solid {

	pointer-events: auto;	
}

.n-properties-panel .n-mask:not(.n-solid).ng-hide {
	
	display: block !important;
	
	opacity: 0;
}

.n-properties-panel .n-mask:not(.n-solid).ng-show {
	
	display: block !important;
	
	opacity: 1;
}

.n-selected {
	
	background: #fff8f0;
}

.n-content.n-single-page {
	
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
	padding: 10px;
	
	overflow: auto;
	border-bottom: 1px
	
    -webkit-transition: bottom 0.3s ease-in-out;
    -moz-transition: bottom 0.3s ease-in-out;
    -o-transition: bottom 0.3s ease-in-out;
    transition: bottom 0.3s ease-in-out;

    -webkit-overflow-scrolling: touch;
}

.n-content.n-semi-collapse {
	
	bottom: 51px;
}

.n-setting-details {
	
	background: #ddd;
	box-shadow: inset 1px 1px 9px black;
}

.n-options-header {
	
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 30px;
	
	border-bottom: 1px solid #ccc;
	background: #efefef;
	
	z-index: 100;
	
	padding: 10px;
}

.n-options-header + .n-content {
	
	top: 51px;
}

.n-options-header.n-drop-shadow {
	
	box-shadow: 0px 10px 50px -20px black;
}

.uk-table-striped tbody tr:nth-of-type(odd).n-selected {
	
	background: #f7e8d4;
}

.uk-htmleditor-preview {
	
	min-height: 500px !important;
}

.n-abs-fit {
	
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

.n-progress-panel {

	background: #efefef;
	color: #bbb;
	z-index: 1000;

    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

.n-progress-panel.n-properties-panel-progress {

	background: #e5e5e5 !important;
}

.n-progress-panel.ng-hide {

	opacity: 0;
	display: block;
	pointer-events: none;
}

.n-progress-panel.n-properties-panel-progress .uk-icon-spinner {

	color: #999;
}

.n-progress-mask {

	top: 50px;
	background: rgba(255,255,255, 0.5);
	z-index: 1000;
}

.n-list .n-progress-panel {

	z-index: 0;
}

.gmnoprint img {

    max-width: none; 
}

.uk-overflow-container {

	-webkit-overflow-scrolling: touch;
}

.n-file-browser {

	z-index: 100000;
}

.n-file-browser .uk-modal-dialog .n-modal-body {

	position: relative;
	height: 400px;
	margin: -15px -20px;
}

.n-file-manager .n-commands-zone {

	position: absolute;
	top: 0px;
	width: 100%;
	height: 50px;
	background: #efefef;
	border-bottom: 1px solid #ccc;
}

.n-file-manager .n-files-zone {

	border-top: 1px solid #fafafa;
	padding: 15px 20px;
	top: 51px;
}

.n-folder-item .uk-panel-box, 
.n-file-browser .n-upload-item .uk-panel-box, 
.n-file-browser .n-file-item .uk-panel-box { 

	cursor: pointer;
}

.n-folder-item .uk-panel-box:hover, 
.n-file-browser .n-upload-item:not(.uk-active) .uk-panel-box:hover, 
.n-file-browser .n-file-item:not(.uk-active) .uk-panel-box:hover {

	background: #F7E8D4;
}

.n-folder-item .uk-panel-box:hover .n-delete, 
.n-upload-item .uk-panel-box:hover .n-delete, 
.n-file-item .uk-panel-box:hover .n-delete {

	opacity: 1;
}

.n-folder-item .uk-panel-box *:not(a),
.n-upload-item .uk-panel-box *:not(a),
.n-file-item .uk-panel-box *:not(a) {

	pointer-events: none;
}

.n-file-item.uk-active .uk-panel-box {

	background: #35B3EE;
	cursor: default;
}

.n-file-item.uk-active .uk-panel-box [class*='uk-text'] {

	color: white !important;
}

.n-file-item img,
.n-upload-item img {

	min-height: 120px;
	max-height: 150px;
}

.n-file-item label, 
.n-upload-item label,
.n-folder-item label {

	text-overflow: ellipsis;
	overflow: hidden;
	display: inline-block;
	white-space: nowrap;
	width: 100%;
}

.n-file-item .n-delete, 
.n-upload-item .n-delete, 
.n-folder-item .n-delete {

	position: absolute;
	top: 0px;
	right: 0px;
	opacity: 0;

    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}

.n-file-item.n-uploading img {

	opacity: 0.5;
}

.n-drop-zone {

	top: 50px;
	display: none;
	background: rgba(255,255,255,0.9);
	padding: 20px;
}

.n-drop-zone .n-decor {

	position: absolute;
	top: 20px;
	left: 20px;
	right: 20px;
	bottom: 20px;
	border-radius: 5px;
	border: 2px dashed #ddd;
}

.n-drop-zone .n-decor * {

	pointer-events: none;
}

.n-file-drop-accept {

	
}

.n-tool-button {

	width: 40px;
}

.n-tool-button.uk-active {

	background: #fffbe8;
}

.n-file-manager .n-snap-left {

	position: fixed;
	width: 150px;
	bottom: 0px;
	padding: 20px 0 20px 20px;
	background: #555;
	overflow: auto;
}

.n-file-manager .n-snap-left .n-folder-item {

	width: 150px !important;
}

.n-file-manager .n-blank-left {

	padding-left: 170px;
}

.n-folder-item .n-droppable-hover {

	background: #fffbe8;
}

.n-file-item .ui-draggable-dragging {

	opacity: 0.8;
}

.uk-modal-dialog .n-create-folder-dialog {

	opacity: 1;
}

.uk-modal-dialog .n-create-folder-dialog > .uk-modal-dialog .n-modal-body {

	height: auto;
	margin: 15px 20px;
}