.n-open-list {

	position: absolute;
	top: 51px !important;
	left: 0px;
	right: 0px;
	bottom: 50px;
	background: white !important;
	overflow: auto;
	border-bottom: 1px solid #ccc;
}

.n-main-screen {

    -webkit-transition: all 0.5s ease-in-out;
  	-moz-transition: all 0.5s ease-in-out;
  	-o-transition: all 0.5s ease-in-out;
  	transition: all 0.5s ease-in-out;
}

.n-main-screen.ng-hide {

	display: block !important;

	-webkit-transform: translate(-100%, 0px);
	-moz-transform: translate(-100%, 0px);
	-ms-transform: translate(-100%, 0px);
	-o-transform: translate(-100%, 0px);
	transform: translate(-100%, 0px);
}

.n-main-screen.ng-hide-animate .freeze-header {

	display: none;
}

.n-positions-screen {

    -webkit-transition: all 0.5s ease-in-out;
  	-moz-transition: all 0.5s ease-in-out;
  	-o-transition: all 0.5s ease-in-out;
  	transition: all 0.5s ease-in-out;
}

.n-positions-screen.ng-hide {

	display: block !important;

	-webkit-transform: translate(100%, 0px);
	-moz-transform: translate(100%, 0px);
	-ms-transform: translate(100%, 0px);
	-o-transform: translate(100%, 0px);
	transform: translate(100%, 0px);
}

.n-positions-screen.ng-hide-animate .freeze-header {

	display: none;
}

.n-softbook {

	background: #fff8af !important;
}

.n-recruiting {

	background: #ffdba3 !important;
}

.n-doublebook {

	background: #ffe5f4 !important;
}