<html ng-app="front-work"> 
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no">


	<link rel="stylesheet" type="text/css" href="bower_components/uikit/css/uikit.min.css">
	<link rel="stylesheet" type="text/css" href="bower_components/uikit/css/uikit.almost-flat.min.css">
	

	<link rel="stylesheet" type="text/css" href="bower_components/uikit/css/components/sticky.almost-flat.min.css">


	<link rel="stylesheet" href="css/admin.css">
	<link rel="stylesheet" href="css/open.css">
	<link rel="stylesheet" href="css/common.css">
	
	<script type="text/javascript" src="bower_components/holderjs/holder.min.js"></script>
	<script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="bower_components/uikit/js/uikit.min.js"></script>


	<script type="text/javascript" src="bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>


	<script type="text/javascript" src="app/app.js"></script>
	<script type="text/javascript" src="app/config.route.js"></script>


	<!-- service -->
	<script type="text/javascript" src="app/services/open.js"></script>


	<!-- controller -->
	<script type="text/javascript" src="app/controllers/menu_panel.js"></script>
	<script type="text/javascript" src="app/controllers/content_panel.js"></script>
	<script type="text/javascript" src="app/controllers/open.js"></script>

</head>
<body>
	<div class="uk-grid uk-height-1-1">

		<div class="uk-width-1-10 uk-width-large-1-5 uk-height-1-1" ng-include="'views/panel-menu.html'" ng-controller="MenuPanelCtrl as menu">
			<!-- include menu_panel page -->
		</div>


		<div class="uk-grid-width-9-10 uk-width-large-4-5" ng-controller="ContentPanelCtrl as content" style="padding-left:0px">
			<div class="n-view-host uk-height-1-1">
				<div class="n-title" ng-class="{'n-drop-shadow': mainContentBodyScrollTop > 0}">
					<div class="uk-grid">
						<div class="uk-width-1-2">
							<h2 style="text-transform: capitalize">
								{{ content.title }}
							</h2>
						</div>
						<div class="uk-width-1-2 uk-text-right">
							<a href="<?= base_url('/user/logout'); ?>" class="uk-button">
								<i class="uk-icon-sign-out"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="n-body">
					<!-- ui view -->
					<ui-view></ui-view>
				</div>
			</div>
		</div>
	</div>
</body>
</html>