<div class="n-content n-abs-fit uk-form">
	<div class="n-abs-fit n-main-screen" >
		<div class="n-options-header">
			<div class="uk-grid uk-grid-collapse">
				<div class="uk-width-7-10 uk-width-medium-2-3">
					<input type="text" placeholder="Keyword" ng-model="searchKeyword" ng-keydown="detectSearch($event)"
						   style="width: 250px"/>
					<button type="button" class="uk-button uk-button-primary" ng-click="search()">
						<i class="uk-icon-search"></i>
						<span class="uk-hidden-small uk-hidden-medium">Search</span>
					</button>
					<button type="button" class="uk-button uk-button-danger ng-hide" ng-click="clearSearch()"
							ng-show="isKeywordActive">
						<i class="uk-icon-times"></i>
						<span class="uk-hidden-small uk-hidden-medium">Clear</span>
					</button>
				</div>
				<div class="uk-width-3-10 uk-width-medium-1-3 uk-text-right">
					<div class="uk-margin-small-top">
						Total: <?= $total_opens ?> 
					</div>
				</div>
			</div>
		</div>
		<div class="n-list n-open-list" ng-init="refresh()">
			<table class="n-table uk-table uk-table-striped">
				<thead>
					<tr>
						<th style="width: 20px" class="uk-text-center">
							<input type="checkbox" />
						</th>
						<th style="width: 150px">Client</th>
						<th>Project</th>
						<th style="width: 100px">Start</th>
						<th style="width: 100px">End</th>
						<th style="width: 150px">Requester</th>
						<th style="width: 80px">Status</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in open.list.items"
						ng-class="{'uk-active': selectedItem.id == item.id, 'n-selected': item.checked}">
						<td class="uk-text-center">
							<input type="checkbox" ng-model="item.checked" 
								   ng-change="checkableListManager.itemCheckStateChanged()" 
								   ng-disabled="selectedItem" />
						</td>
						<td ng-bind="item.client" ng-click="select(item)"></td>
						<td ng-bind="item.project" ng-click="select(item)"></td>
						<td ng-bind="item.startDate * 1000 | date:'yyyy-MM-dd'" ng-click="select(item)"></td>
						<td ng-bind="item.endDate * 1000 | date:'yyyy-MM-dd'" ng-click="select(item)"></td>
						<td ng-bind="item.requester" ng-click="select(item)"></td>
						<td ng-bind="item.pStatus" ng-click="select(item)" style="text-transform: capitalize"></td>
					</tr>
				</tbody>
			</table>
			<div class="n-abs-fit uk-vertical-align uk-text-center uk-panel uk-panel-box" ng-show="isRefreshing">
				<div class="uk-vertical-align-middle">
					<i class="uk-icon-spinner uk-icon-spin"></i>
				</div>
			</div>
		</div>
		<div class="n-controller">
			<div class="uk-grid uk-grid-collapse">
				<div class="uk-width-1-4">
					<div ng-cloak="" class="uk-margin-small-top">
						Displaying from {{list.from}} to {{list.to}} of {{list.total}}
					</div>
				</div>
				<div class="uk-width-2-4">
					<ul class="uk-pagination"></ul>
				</div>
				<div class="uk-width-1-4 uk-text-right">
					<button type="button" class="uk-button uk-button-primary" ng-click="newItem()">
						<i class="uk-icon-plus uk-icon-small"></i>
					</button>
				</div>
			</div>
		</div>
		


	</div>
	<div class="n-abs-fit uk-form n-positions-screen ng-hide" ng-hide="currentSection != 'positions'">
		<div class="n-options-header">
			<div class="uk-grid uk-grid-collapse">
				<div class="uk-width-7-10 uk-width-medium-2-3">
					<div class="uk-display-inline-block uk-margin-small-left">
						<i class="uk-icon-chevron-right"></i>
						<i class="uk-icon-chevron-right"></i>
						<i class="uk-icon-chevron-right"></i>
					</div>
					<div class="uk-h3 uk-margin-small-top uk-margin-small-left uk-display-inline-block">
						Client: <span class="uk-badge uk-badge-notification">{{editingData.client}}</span> 
						Project: <span class="uk-badge uk-badge-notification">{{editingData.project}}</span>
					</div>
				</div>
				<div class="uk-width-3-10 uk-width-medium-1-3 uk-text-right">
					<button type="button" class="uk-button uk-button-primary" ng-click="showMainScreen()">
						<i class="uk-icon-arrow-left"></i>
						Back
					</button>
				</div>
			</div>
		</div>
		<div class="n-list n-open-list uk-overflow-container">
			<table class="n-table uk-table uk-table-striped no-freezeh" style="width: 2000px">
				<thead>
					<tr>
						<th style="width: 20px" class="uk-text-center">
							#
						</th>
						<th style="width: 120px">Module</th>
						<th style="width: 120px">Class</th>
						<th style="width: 200px">Role</th>
						<th style="width: 60px">A-Status</th>
						<th style="width: 60px">Start Date</th>
						<th style="width: 60px">End Date</th>
						<th style="width: 40px">Utilization</th>
						<th style="width: 80px">Candidate</th>
						<th style="width: 150px">Module</th>
						<th style="width: 40px">C-Status</th>
						<th style="width: 60px">Stage</th>
						<th style="width: 200px">Remarks</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="item in editingData.positions"
						ng-class="{'uk-active': selectedPosition.id == item.id, 'n-selected': item.checked}">
						<td class="uk-text-right">
							{{$index + 1}}
						</td>
						<td ng-bind="item.module" ng-click="selectPosition(item)"></td>
						<td ng-bind="item.cls" ng-click="selectPosition(item)"></td>
						<td ng-bind="item.role" ng-click="selectPosition(item)"></td>
						<td ng-bind="item.aStatus" ng-click="selectPosition(item)"
							ng-class="{
								'n-softbook': item.aStatus == 'Softbook',
								'n-recruiting': item.aStatus == 'Recruiting',
								'n-doublebook': item.aStatus == 'Doublebook'}"></td>
						<td ng-bind="item.startDate" ng-click="selectPosition(item)"></td>
						<td ng-bind="item.endDate" ng-click="selectPosition(item)"></td>
						<td ng-bind="item.utilization" ng-click="selectPosition(item)"></td>
						<td ng-bind="item.candidate" ng-click="selectPosition(item)"
							ng-class="{
								'n-softbook': item.aStatus == 'Softbook',
								'n-recruiting': item.aStatus == 'Recruiting',
								'n-doublebook': item.aStatus == 'Doublebook'}"></td>
						<td ng-bind="item.candidateModules" ng-click="selectPosition(item)"></td>
						<td ng-bind="item.cStatus" ng-click="selectPosition(item)"></td>
						<td ng-bind="item.stage" ng-click="selectPosition(item)"></td>
						<td ng-bind="item.remarks" ng-click="selectPosition(item)"></td>
					</tr>
				</tbody>
			</table>
		</div>
		<div class="n-controller">
			<div class="uk-grid uk-grid-collapse">
				<div class="uk-width-1-4">
					<div ng-cloak="" class="uk-margin-small-top">
						
					</div>
				</div>
				<div class="uk-width-2-4">
					<ul class="uk-pagination"></ul>
				</div>
				<div class="uk-width-1-4 uk-text-right">
					<button type="button" class="uk-button uk-button-primary" ng-click="newPosition()">
						<i class="uk-icon-plus uk-icon-small"></i>
					</button>
				</div>
			</div>
		</div>

		<form class="n-properties-panel uk-panel uk-width-1-1 uk-width-medium-2-3 uk-form ng-valid-maxlength uk-width-large-1-2 ng-valid ng-valid-required ng-pristine" 
			  ng-show="positionPropertiesPanel.isOpen" 
			  n-dirty-check="" 
			  name="positionPropertiesPanel.propertiesForm" 
			  ng-submit="positionPropertiesPanel.save($event, {alsoClose:true})" 
			  n-focus-on-error="" 
			  action="http://localhost/openman/open/rest/open" 
			  novalidate="">
			<input type="hidden" name="zimpler_csrf_token" value="6fcb7845a9b9df9fb0f4aee6d5907f45">
			<div class="n-header" ng-class="{'n-drop-shadow': positionPropertiesPanel.scrollTop > 0, 
			 			'n-expanded': positionPropertiesPanel.isHeaderExpanded}">
				<div class="uk-panel-title uk-grid">
					<div class="uk-width-1-1">
						<div style="margin-top: 5px" class="ng-binding">
							<i class="uk-icon-edit"></i> {{selectedPosition.module}} / {{selectedPosition.cls}}
						</div>
					</div>
				</div>
				<div class="n-bottom-border" ng-hide="positionPropertiesPanel.scrollTop > 0"></div>
			</div>
			<div class="n-body uk-form-stacked" ng-class="{'n-expanded': positionPropertiesPanel.isHeaderExpanded}">
				<div ng-show="!isLoadingEditingData" class="">
					<div class="uk-form-row">
						<div class="uk-grid uk-grid-small">
							<div class="uk-width-1-2">
								<label class="uk-form-label" for="module">
									Module
								</label>
								<div class="uk-form-controls">
									<input type="text" id="module" name="module" 
										   class="uk-width-1-1"
										   ng-model="selectedPosition.module" />
								</div>
							</div>
							<div class="uk-width-1-2">
								<label class="uk-form-label" for="class">
									Class
								</label>
								<div class="uk-form-controls">
									<input type="text" id="class" name="class"
										   class="uk-width-1-1"
										   ng-model="selectedPosition.cls" />
								</div>
							</div>
						</div>
					</div>
					<div class="uk-form-row">
						<label class="uk-form-label" for="role">
							Role Description
						</label>
						<div class="uk-form-controls">
							<textarea type="text" id="role" name="role" 
								   	  class="uk-width-1-1" rows="5"
									  ng-model="selectedPosition.role"></textarea>
						</div>
					</div>
					<div class="uk-form-row">
						<div class="uk-grid uk-grid-small">
							<div class="uk-width-1-3">
								<label class="uk-form-label" for="aStatus">
									A-Status
								</label>
								<div class="uk-form-controls">
									<input type="text" id="aStatus" name="aStatus" 
										   class="uk-width-1-1"
										   ng-class="{
												'n-softbook': selectedPosition.aStatus == 'Softbook',
												'n-recruiting': selectedPosition.aStatus == 'Recruiting',
												'n-doublebook': selectedPosition.aStatus == 'Doublebook'}"
										   ng-model="selectedPosition.aStatus" />
								</div>
							</div>
							<div class="uk-width-1-3">
								<label class="uk-form-label" for="startDate">
									Start Date
								</label>
								<div class="uk-form-controls">
									<input type="text" id="startDate" name="startDate"
										   class="uk-width-1-1"
										   ng-model="selectedPosition.startDate" />
								</div>
							</div>
							<div class="uk-width-1-3">
								<label class="uk-form-label" for="endDate">
									End Date
								</label>
								<div class="uk-form-controls">
									<input type="text" id="endDate" name="endDate"
										   class="uk-width-1-1"
										   ng-model="selectedPosition.endDate" />
								</div>
							</div>
						</div>
					</div>
					<div class="uk-form-row">
						<div class="uk-grid uk-grid-small">
							<div class="uk-width-1-3">
								<label class="uk-form-label" for="utilization">
									Utilization
								</label>
								<div class="uk-form-controls">
									<input type="text" id="utilization" name="utilization" 
										   class="uk-width-1-1"
										   ng-model="selectedPosition.utilization" />
								</div>
							</div>
							<div class="uk-width-2-3">
								<label class="uk-form-label" for="candidate">
									Candidate
								</label>
								<div class="uk-form-controls">
									<input type="text" id="candidate" name="candidate"
										   class="uk-width-2-3"
										   ng-class="{
												'n-softbook': selectedPosition.aStatus == 'Softbook',
												'n-recruiting': selectedPosition.aStatus == 'Recruiting',
												'n-doublebook': selectedPosition.aStatus == 'Doublebook'}"
										   ng-model="selectedPosition.candidate" />

									<button type="button" class="uk-button uk-button-primary">
										<i class="uk-icon-search"></i>
									</button>
								</div>
							</div>
						</div>
					</div>
					<div class="uk-form-row">
						<div class="uk-grid uk-grid-small">
							<div class="uk-width-1-3">
								<label class="uk-form-label" for="cStatus">
									C-Status
								</label>
								<div class="uk-form-controls">
									<input type="text" id="cStatus" name="cStatus"
										   class="uk-width-1-1"
										   ng-model="selectedPosition.cStatus" />
								</div>
							</div>
							<div class="uk-width-2-3">
								<label class="uk-form-label" for="candidateModules">
									Module
								</label>
								<div class="uk-form-controls">
									<input type="text" id="candidateModules" name="candidateModules"
										   class="uk-width-1-1"
										   ng-model="selectedPosition.candidateModules" />
								</div>
							</div>
						</div>
					</div>
					<div class="uk-form-row">
						<div class="uk-grid uk-grid-small">
							<div class="uk-width-1-3">
								<label class="uk-form-label" for="stage">
									Stage
								</label>
								<div class="uk-form-controls">
									<input type="text" id="stage" name="stage"
										   class="uk-width-1-1"
										   ng-model="selectedPosition.stage" />
								</div>
							</div>
						</div>
					</div>
					<div class="uk-form-row">
						<label class="uk-form-label" for="remarks">
							Remarks
						</label>
						<div class="uk-form-controls">
							<textarea type="text" id="remarks" name="remarks" 
								   	  class="uk-width-1-1" rows="5"
									  ng-model="selectedPosition.remarks"></textarea>
						</div>
					</div>
				</div>
			</div>
			<div class="n-footer">
				<div class="n-scroll-for-more ng-hide" title="Scroll down for more" data-uk-tooltip="" ng-show="!positionPropertiesPanel.scrollMaxReached"></div>
				<div class="n-top-border"></div>
				<div class="uk-grid uk-margin-small-top">
					<div class="uk-width-1-5">
						<!-- ngIf: editingData.allowDelete -->
					</div>
					<div class="uk-width-4-5 uk-text-right">
						<button type="button" class="uk-button uk-button-success ng-scope"
								ng-click="cancelSelectPosition()">
							Save <span ng-show="positionPropertiesPanel.propertiesForm.$dirty" class="ng-hide">*</span>
						</button><!-- end ngIf: currentStatus != 'published' -->
						<button type="button" class="uk-button" ng-click="cancelSelectPosition()">
							Cancel
						</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>