<div class="uk-panel uk-height-1-1 n-menu-panel" data-uk-sticky="" >
	<div class="n-common">
		<div class="uk-text-center uk-margin-top uk-margin-bottom">
			<img src="holder.js/50x50">
		</div>
		<div class="n-current-login uk-text-center uk-hidden-small uk-hidden-medium">
			{{ menu.current_display_name }}
		</div>
		<div class="n-menu-header uk-text-center uk-hidden-small uk-hidden-medium">
			{{ menu.main_menu_display_name }}
		</div>
	</div>
	<ul class="n-items uk-nav uk-nav-offcanvas">
		<li ng-repeat="menu_item in menu.menu_items">
			<a href="{{ menu_item.path }}">
				<i class="uk-icon-{{menu_item.icon}} uk-icon-small"></i>
				<span class="uk-hidden-small uk-hidden-medium">
					{{menu_item.label}}
				</span>
			</a>
		</li>
		<li>
			<a href="#">
				<i class="uk-icon-<?= $item['icon'] ?> uk-icon-small"></i>
				<span class="uk-hidden-small uk-hidden-medium">
					<?= $item['name'] ?>
				</span>
			</a>
		</li>
	</ul>
</div>